.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-container {
  width: 70vh;
  height: 70vh;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 30px 10px;
}

.dog-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 400px) {
  .image-container {
    width: 80vw;
    height: 80vw;
  }
}
